body {
  background-color: rgb(23, 164, 148);
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

h1 {
  color: rgb(255, 255, 255);
  font-family: "Gochi Hand", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
  font-weight: bold;
}

.circle {
  height: 80px;
  width: 80px;
  background-color: rgb(255, 255, 255);
  border-radius: 9999px;
  box-shadow: -5px 4px 0 rgb(199, 201, 203);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#square {
  height: 130px;
  width: 130px;
  background-color: rgb(255, 255, 255);
}

.number {
  font-size: 2.5rem;
}

.btn {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  --bs-btn-padding-x: 1.5rem;
  --bs-btn-padding-y: 0.6rem;
  border: 1px solid rgb(255, 255, 255);
}

.btn:hover {
  padding: rgb(0, 0, 0);
}