body {
  background-color: rgb(23, 164, 148);
}

h1 {
  color: rgb(255, 255, 255);
  font-family: "Gochi Hand", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
  font-weight: 900;
}

.circle {
  height: 90px;
  width: 90px;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  border-radius: 9999px;
  box-shadow: -5px 4px 0 rgb(199, 201, 203);
}